<!DOCTYPE html>
<html>
<body>
<h1 style="text-align: center">Rajashekar Yelloboina</h1>
<h2 style="text-align: center">5713635076</h2>
<h2 style="text-align: center">raja.raj430@gmail.com</h2>
<hr />
<p class="head"><u>Summary:</u></p>
<p>•	Multi-cultural experience of 8+ years IT experience and as Splunk administration,Splunk developer and Engineer on varied projects which involves Design and Development of client/server.<br>
  In platform consisting of Red Hat Linux, Windows, and Sun Solaris operating systems.<br>
  •	Extensive experience in Installation, Configuration, and Migration, Trouble-Shooting and Maintenance of Splunk, Apache Web Server on different UNIX flavors like Linux.<br>
  •	Expert in installing and using Splunk apps for UNIX and Linux Splunk Add-on nix.<br>
  •	Hands on experience in installing Splunk TASSymantec DLP, Splunk DB connect Splunk App for AWS and more.<br>
  •	 Worked on Security solutions (SIEM) that enable organizations to detect, respond and prevent these threats by providing valuable context and visual insights to help you make faster and smarter security decisions.<br>
  •	 Experience in providing monitoring and response to security events in Security Operations Center (SOC) team.<br>
  •	Experience in creating Access controls, to user by creating AD (Active Directory) groups power and user groups.<br>
  •	Experience with Active Directory and SSO Single sign-On option.<br>
  •	Configure the add-on app SSO Integration for user authentication and Single Sign-on in Splunk Web.<br> 
  •	Expertise in using Splunk with shell script in creating scripts for various activities like Generating Server Status and Health reports, Deployments on large scale configuration of servers.<br>
  •	Experience with Splunk technical implementation, Planning, customization, integration with big data and statistical and analytical modeling.<br>
  •	 Responsible in Scheduling Backups and Restore, Maintenance plans using Native & Third-party tools.<br>
  •	 Involved in standardizing Splunk forwarder deployment, configuration and maintenance across UNIX and Windows platforms.<br>
  •	Experience in Splunk development (creating apps, dashboards, data models, etc.<br>
  •	Experience on Splunk Enterprise Deployments and enabled continuous integration on as part of configuration management.<br>
  •	Experience with Splunk Searching and Reporting modules – (Splunk ITSI and Enterprise Security App) Knowledge Objects
  •	, Administration, Dashboards, Clustering and Forwarder Management.<br>
  •	Created and Managed Splunk DB connect Identities, Database Connections, Database Inputs, Outputs, lookups, access controls.<br>
  •	Monitored Database Connection Health by using Splunk DB connects health dashboards.<br>
  •	Expertise in creating accurate reports, Dashboards, Visualizations and Pivot tables for the business users.<br>
  •	Created Reports, Alerts and Dashboards by Splunk query language. Experienced in creating and running Cron Jobs for scheduled tasks.<br>
  •	Parsing, Indexing, Searching concepts Hot, Warm, Cold, Frozen bucketing.<br>
  •	Knowledge about Splunk architecture and various components (Indexer, forwarder, search head, deployment server).<br>
  •	Set indexing property configurations, including time zone offset, custom source type rules. <br>
    Configure Regex transformations to perform on data inputs. <br>
  •	Helping application teams in on-boarding Splunk and creating Dashboard, Alert, and Reports etc. <br>Experience on use and understand of complex Reg Ex (regular expressions).<br>
  •	Various types of charts alert settings Knowledge of App creation, user and role access permissions. Creating and Managing Apps, Create user, role and Permissions to Knowledge objects.<br>
  •	AppDynamics agent's configuration and instrumentation of applications<br>
  •	Field Extraction, Using IFX, Rex Command and Reg Ex in configuration files<br>
  •	Help development/support team to troubleshoot performance bottlenecks using AppDynamics tool <br>
  •	Validate AppDynamics implementation on UAT, Prod servers after each deployment<br>
  •	Knowledge of Extract keyword, Sed, Knowledge objects, Knowledge of various search commands like stats, chart, time chart, transaction, strptime, strftime, eval, where, xyseries, table etc. <br>
  •	Time chart attributes such as Span, Bins, Tag, Event types, Creating Dashboards, Reports using XML. Create Dashboard from search, Scheduled searches of Inline search vs. scheduled search in a Dashboard.<br> 
  •	Experience in all facets of SDLC viz. requirement analysis, designs, development, testing, and post implementation revisions.<br> 
  •	Have excellent logical, analytical & debugging skills Possesses high working qualities with good interpersonal skills, highly motivated, fast learner, good team player and very proactive in problem solving with providing best solutions.<br>
  •	Provided 24/7 on-call support for production, strong team player, good analytical skills.
 </p>
 <p class="head"><u>TECHNICAL SKILLS:</u></p>
 <p class="head"><u>Certifications:</u></p>
 <li>Splunk Certified User (Cert-237268)</li>
 <li>Splunk Certified PowerUser (Cert-238445)</li>
 <li>Splunk Certified Admin (Cert-241522)</li>
 <p class="head"><u>PROFESSIONAL SUMMARY:</u></p><br>
 <pre class="head">CenturyLink, VA                                                                                             June’2019– Present</pre>
 <p class="head">Role: Splunk Admin/Developer</p>
 <p class="head"><u>Responsibilities:</u></p>
 <p>•	Integrated multiple data sources/feeds from networks to near real-time dashboards for trouble shooting network issues such as packet loss, latency, sequence gaps, secondary network down, etc.<br>
  •	Hands on development experience in customizing Splunk dashboards, visualizations, configurations, reports and search capabilities using customized Splunk queries<br>
  •	Tuning and configuration of Splunk App for Enterprise Security (ES).<br>
  •	Deploy and Configure DNS, DHCP Servers, VPN, RADIUS, NAT, DirectAccess<br>
  •	Monitoring and Maintaining system configuration and log files and system error with password recovery and performance tuning, perform fault isolation and root-cause analysis of recurring issues.<br>
  •	TCP/IP network configuration (IP addressing and Subnetting) and linking servers to central domain server.<br>
  •	Worked on multiple Splunk SPL functions to create new fields during search.<br>
  •	Create dashboard from search, Scheduled searches online search vs scheduled search in a dashboard.<br>
  •	Knowledge about Splunk architecture and various components (indexer, forwarder, search head, deployment server), Universal and Heavy forwarder Tuning and configuration of Splunk App for Enterprise Security (ES).<br>
  •	Identifies, reports, and resolves serious security violations; maintains systems to protect data from unauthorized users and anticipated or unanticipated risks.<br>
  •	Publishes, monitors, and mandates information and computer security policies and security awareness information and programs.<br>
  •	Schedules and supervises periodic network security assessments across multiple platforms and/or distributed networks.<br>
  •	Performs complex security resource and access rule maintenance. Develops and implements security monitoring and violation reports that identify any attempt to access unauthorized materials.<br>
  •	Provides security support in a distributed environment. Participates in technical evaluations of enterprise security access control products.<br>
  •	Created and configured management reports and dashboards.<br>
  •	Developed, evaluated, and documented specific metrics for management purpose.<br>
  •	Analyzed security-based events, risks and reporting instances.<br>
  •	Managed and maintained use cases into correlation systems.<br>
  •	Designed, developed, and implemented system engineering plans and technical support services.<br>
  •	Executed systems programming activities and supported data center activities<br>
  •	Created Dashboards for various types of business users in organization and worked on creating different Splunk Knowledge objects like Macros, IFX, Calculated fields, Tags, Event Types and Lookups<br>
  •	Involved in Installation, Administration and Configuration of Splunk Enterprise and integration with local legacy systems<br>
  •	Experience in Python general scripting, Hands on Experience in secure coding.<br>
  •	Time chart attributes such as Span, Bins, Tag, Event types, Creating Dashboards, Reports using XML.<br>
  •	Various types of charts Alert settings Knowledge of app creation, user and role access permissions.<br> 
  Creating and managing app, Create user, role, Permissions to knowledge objects<br>
  •	Monitored Database Connection Health by using SplunkDBconnects health dashboards.<br>
  Environment: Splunk 8.x,7.x,6.x, MySQL workbench, Splunk DB Connect and other modules, LINUX 
   Splunk, Deployment server, Integration, Sideview utils, Data Models, Server management, Dashboards, Search processing language (SPL), Field extraction, Regex, Rex, LINIX, XML, Advanced XML, JS, CSS, HTML
  </p>
 


</body>
</html>